Fichiers de cours/Checklist+Audit+SEO+2018.xlsx
Fichiers de cours/Corrigé de l'activité 1 - Recherche de mots clés.xlsx
Fichiers de cours/DW+P5+Optimisation-debug+-+Modele+rapport+intervention.odt
Fichiers de cours/Mot-clés.xlsx
Fichiers de cours/Roadmap+SEO.xlsx
Fichiers de cours/*
.vscode/settings.json
rapport complet/Rapport.doc
